.event_list_item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_list_item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
}

.event_list_item h2 {
    margin: 0;
    font-size: 1rem;
    color: #121213;
}

.event_list_item p {
    margin: 0;
}